
<div class="container">
    <div class="mt-5">
        <button class="btn btn-primary" mat-raised-button color="primary" (click)="redirectToRegistration()">Register<mat-icon color="">chevron_right</mat-icon></button>
    </div>
    <div class="mt-5">
        <h1>Payee Dashboard</h1>
        <div class="row">
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <mat-card class="card_gradient square-card">
            <div class="content">
              <img src="assets/images/icon.svg">
              <h3 class="mt-2">Format</h3>
            </div>
          </mat-card>
        </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <mat-card class="card_gradient square-card">
            <div class="content">
              <img src="assets/images/icon.svg">
              <h3 class="mt-2">Format</h3>
            </div>
          </mat-card>
        </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <mat-card class="card_gradient square-card">
            <div class="content">
              <img src="assets/images/icon.svg">
              <h3 class="mt-2">Format</h3>
            </div>
          </mat-card>
        </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <mat-card class="card_gradient square-card">
            <div class="content">
              <img src="assets/images/icon.svg">
              <h3 class="mt-2">Format</h3>
            </div>
          </mat-card>
        </div>
      </div>
      </div>
</div>
