
    <div class="row">
        <h3>Create New DR</h3>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mt-5">
            <mat-form-field class="w-100">
                <mat-label>Pay Commission</mat-label>
                <mat-select>
                  <mat-option value="one">First option</mat-option>
                  <mat-option value="two">Second option</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mt-5">
            <mat-form-field class="w-100">
                <mat-label>Entitlement Status</mat-label>
                <mat-select>
                  <mat-option value="one">First option</mat-option>
                  <mat-option value="two">Second option</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mt-5">
            <mat-form-field class="w-100">
                <mat-label>DR Rate%</mat-label>
                <input matInput placeholder="Placeholder">
                
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mt-5">
            <mat-form-field class="w-100">
                <mat-label>Order No</mat-label>
                <input matInput placeholder="Placeholder">
                
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mt-5">
            <mat-form-field class="w-100">
                <mat-label>Order Date</mat-label>
                <input matInput placeholder="Placeholder">
                
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mt-5">
            <mat-form-field class="w-100">
                <mat-label>w.e.f DR date</mat-label>
                <input matInput placeholder="Placeholder">
                
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
        </div>
        <div class="row align-item-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 mt-5">
                <div> Status : <mat-slide-toggle color="primary">Deactived</mat-slide-toggle></div>
            </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 mt-5">
            <div class="float-end">                
                <button  mat-button mat-dialog-close class="btn btn-outline-cancel" mat-stroked-button>Cancel</button>
                <button class="btn btn-primary  ms-2" mat-raised-button color="primary">Create</button>
            </div>
        </div>
        
    </div>
    </div>

